.root2 {
  background-color: red;
  height: 100vh;
}

.visible {
  height: 100vh;
  position: relative;
  visibility: hidden;
}

.visible::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(132, 0, 255);
  top: 0;
  left: 0;
  right: 0;

  //   background-color: purple;
  //   animation: fly-in 2s 3s ease-in forwards;
}

.show-content {
  visibility: visible;
}

@keyframes fly-in {
  0% {
    top: 0;
    left: 0;
    right: 100%;
  }
  100% {
    top: 0;
    left: 100%;
    right: 0;
  }
}
